<table class="table table-hover table-condensed shiplist fixedhead">
<thead>
  <tr>
    <th>#</th>
    <th>
      <div class="dropdown">
        <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Vessel name
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#" class="name_asc">Sort ascending</a></li>
          <li><a href="#" class="name_desc">Sort descending</a></li>
        </ul>
      </div>
    </th>
    <th>
      <div class="dropdown">
        <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{secondColumn}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#" class="column_asc">Sort ascending</a></li>
          <li><a href="#" class="column_desc">Sort descending</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" class="column_change">{{changelabel}}</a></li>
        </ul>
      </div>
    </th>
  </tr>
</thead>
<tbody>
  {{#each ships}}
  <tr id="{{id}}">
    <th scope="row">{{id}}</th>
    <td>{{name}}</td>
    <td>{{value}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
