<th scope="row">{{index}}</th>
<td>
  <table class="property">
  <tr>
    <th>Timestamp</th>
    <td>{{{timestamp}}}</td>
  </tr>
  <tr>
    <th>Course/Speed</th>
    <td>{{{nav}}}</td>
  </tr>
  <tr>
    <th>Latitude</th>
    <td>{{latitude}}</td>
  </tr>
  <tr>
    <th>Longitude</th>
    <td>{{longitude}}</td>
  </tr>
  </table>
</td>
