<h3>{{title}}</h3>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {{#if ship}}
    <li role="presentation" class="active"><a href="#shipdetails" aria-controls="shipdetails" role="tab" data-toggle="tab">Ship details</a></li>
    {{/if}}
    <li role="presentation"><a href="#lastposition"{{#if positiontab}} class="active"{{/if}}aria-controls="lastposition" role="tab" data-toggle="tab">Last position</a></li>
    {{#if track}}
    <li role="presentation"><a href="#track" aria-controls="track" role="tab" data-toggle="tab">Track details</a></li>
    {{/if}}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {{#if ship}}
    <div role="tabpanel" class="tab-pane active" id="shipdetails">
      <table class="table table-hover table-condensed details fixedhead">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each ship}}
        <tr>
          <th scope="row">{{name}}</th>
          <td>{{{value}}}</td>
        </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
    {{/if}}
    <div role="tabpanel" class="tab-pane{{#if positiontab}} active{{/if}}" id="lastposition">
      <table class="table table-hover table-condensed position fixedhead">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each position}}
        <tr>
          <th scope="row">{{name}}</th>
          <td>{{{value}}}</td>
        </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
    {{#if track}}
    <div role="tabpanel" class="tab-pane" id="track">
      <table class="table table-hover table-condensed track fixedhead">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        {{#each track}}
        <tr>
          <th scope="row">{{index}}</th>
          <td>
            <table class="property">
            <tr>
              <th>Timestamp</th>
              <td>{{{timestamp}}}</td>
            </tr>
            <tr>
              <th>Course/Speed</th>
              <td>{{{nav}}}</td>
            </tr>
            <tr>
              <th>Latitude</th>
              <td>{{latitude}}</td>
            </tr>
            <tr>
              <th>Longitude</th>
              <td>{{longitude}}</td>
            </tr>
            </table>
          </td>
        </tr>
        {{/each}}
      </tbody>
      </table>
    </div>
    {{/if}}
  </div>
</div>
